*.exe
*.o
__pycache__/
*.pyc
tests/scripts/cLanguage2Cplus/baseline/
tests/scripts/cLanguage2Cplus/current/
tests/scripts/cLanguage2Cplus/diffs/
tests/scripts/cLanguage2Cplus/perf_current/
tests/scripts/cLanguage2Cplus/standalone/*/baseline/
tests/scripts/cLanguage2Cplus/standalone/*/current/
tests/scripts/cLanguage2Cplus/standalone/*/diffs/
scripts/cLanguage2Cplus/baseline/
scripts/cLanguage2Cplus/current/
scripts/cLanguage2Cplus/diffs/
scripts/cLanguage2Cplus/perf_current/
scripts/cLanguage2Cplus/perf_baseline/baseline.csv
scripts/cLanguage2Cplus/standalone/*/baseline/
scripts/cLanguage2Cplus/standalone/*/current/
scripts/cLanguage2Cplus/standalone/*/diffs/
scripts/cLanguage2Cplus/data/sup*.pml
scripts/cLanguage2Cplus/USalign_orig
scripts/cLanguage2Cplus/USalign_mod_*
USalign/
scripts/chainmap_local/current/
scripts/chainmap_local/diffs/
scripts/chainmap_local/feature_output/
scripts/chainmap_local/USalign_*
